<div class="row">
	<div class="col-md-8">
		<h2><%= @post.title %></h2>
		<p>
			<%= @post.body %>
		</p>
	</div>

	<div class="col-md-4">
		<% if user_signed_in? %>
	<ul>
		<%= link_to 'Edit' , edit_post_path(@post), :class => 'btn btn-primary' %><br><br>
		<%= link_to 'Delete' , post_path(@post), method: :delete, date: {confirm: 'Are You Sure?'}, :class => 'btn btn-danger' %><br><br>
		<%= link_to 'Back Home' , root_path,  :class => 'btn btn-success' %>
	</ul>
<% else %>
	<ul>
		<%= link_to 'Back Home' , root_path,  :class => 'btn btn-primary' %>
		
	</ul>
<% end %>
	</div>		
</div>


<hr>
