<!DOCTYPE html>
<html>
  <head>
    <title>JablancBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     

     <nav class="navbar navbar-inverse bg-primary navbar-toggleable-md">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><b>TALKS</b>by<b>JABLANC</b></a></a>

        <div class="collapse navbar-collapse" id="navbarsExampleContainer">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <%= link_to 'Home', root_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'About Us', about_path, :class => 'nav-link' %>
            </li>
          </ul>
           <% if user_signed_in? %>
            <ul class="navbar-nav navbar-right">
              <li class="nav-item"><%= link_to 'New Post', new_post_path, :class => 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => 'nav-link' %></li>
            </ul>
            <% else %>
            <ul class="navbar-nav navbar-right">
              <li class="nav-item"><%= link_to 'Sign In', new_user_session_path, :class => 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'Join', new_user_registration_path, :class => 'nav-link' %></li>
            </ul>
          <% end %> 
          
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
    	<%= yield %>

    </div>
    
  </body>
</html>
